html{
    box-sizing: border-box;
}
*, 
*:before, 
*:after{
    box-sizing: inherit;
}
.collectionWrapper{
    display: flex;
    flex-direction: column;
}
.collectionRow{
    border: 1px solid red;
    max-width: 500;
    margin: 10px 0px;
    padding: 10px;
}