html{
    box-sizing: border-box;
}
*, 
*:before, 
*:after{
    box-sizing: inherit;
}
body{
    background-color: rgb(235, 227, 227);
}
.collectionWrapper{
    display: flex;
    flex-wrap: wrap;
    /**flex-direction: column;**/
}
.collectionRow{
    border: 1px solid red;
    max-width: 500px;
    min-width: 300px;
    margin: 10px;
    padding: 10px;
}
.cell{

}
.scam-name{
    font-weight: bold;
}