@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

html{
    box-sizing: border-box;
}
*, 
*:before, 
*:after{
    box-sizing: inherit;
}
body{
    margin: 0;
    background-color: rgb(235, 231, 231);
    font-family: 'Antic Slab', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color: rgb(128, 0, 75);
    color: white;
    margin: 0;
    padding: 10px 25px;
    display: flex;
}
h1{
    min-width: 80%;
}
main{
    background-color: rgb(255, 244, 251);
    min-height: 600px;
    margin: 10px;
    padding: 10px 10px;
}
.description{
    max-width: 800px;
}
.second-description{
    max-width: 700px;
    background-color: white;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
}
.collectionWrapper{
    display: flex;
    flex-wrap: wrap;
}
.toolbar{
    padding-top: 25px;
}
.collectionRow{
    border: 1px solid rgb(128, 0, 75);
    max-width: 800px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}
.cell{
    margin: 0;
    padding: 5px;
}
.scam-name{
    font-weight: bold;
    font-size: 20px;
    color: rgb(128, 0, 75);
    padding-bottom: 10px;
}
.category-name{
    font-weight: bold;
}
a{
   color: rgb(128, 0, 75);
}
header a{
    color: white;
    text-decoration: none;
}
