html{
    box-sizing: border-box;
  }
*, 
*:before, 
*:after{
    box-sizing: inherit;
  }
body {
    background-color: #4b0082;
    color: lavender;
    text-align: center;
    padding-top: 2rem;
  } 
