@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

html{
    box-sizing: border-box;
  }
*, 
*:before, 
*:after{
    box-sizing: inherit;
  }
body{
    font-family: RocknRoll One;
    background-color: rgb(178, 238, 186);
}
h1{
    font-size: 3rem;
    padding-top: 2rem;
    text-align: center;
}
#meme{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
li{
    padding-top: 20px;
    list-style-type: none;
}

